<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main>
  <h1><%= title %></h1>
  <div class="vehicle-container">
    <%- html %>
  </div>
</main>

<%- include('../partials/footer') %>
